<!-- <app-nav></app-nav> -->

<div mnFullpage>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <app-home></app-home>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      <app-about></app-about>
    </div>
  </div>
  <div class="section welcome-section fp-section fp-table">
    <div class="fp-tableCell">
      3
    </div>
  </div>
</div>




<!-- <h1>
  Welcome to {{ title }}!
</h1>
<nav>
  <a routerclass="nav-button" Link="/login">Login</a>
  <p>Nav</p>
  <a routerclass="nav-button" Link="/about">About</a>
</nav>

<router-outlet></router-outlet> -->



<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
