<div onmouseover="
const myWrapper = $('#sketch-0');
const myCanvas = $('#defaultCanvas0').hide();
myCanvas.appendTo(myWrapper).fadeIn('slow', function(){
  $('#trig-home')[0].onmouseover = '';
});
" id="trig-home" class="trigger">
</div>

<div id="sketch-0" class="sketch-holder">
  </div>

<div class="center">
    <div class="container has-text-centered">
      <h1 class="title">
        Advertising Done Right
      </h1>
    <br>
    <div class="subtitle">
      Highly targeted leads for <span style="font-weight: 800;">your</span> business for 10¢

      <div class="is-c2a">
        <input type="text" id="emailSignup" class="is-email-prompt" placeholder="Your work email">
        <span class="is-placeholder">
          <input type="submit" onclick="Register()" value="Request a trial" id="buttonOne" class="is-request-button">
        </span>
      </div>
    </div>
</div>




