<div class="navigation">
    <div class="nav-left nav-side">
      <ul class="left">
          <li>
              <div class="nav-space"><div class="header-content">FL</div></div>
          </li>
          <li>
              <a href="#" class="nav-button" link="stuff"><div class="header-content">Stuff</div></a>
          </li>
          <li>
              <a href="#" class="nav-button" link="contact"><div class="header-content">Contact</div></a>
          </li>
      </ul>
    </div>
    <div class="nav-right nav-side">
      <ul class="right">
          <li>
              <div class="nav-space"><div class="header-content">WI</div></div>
          </li>
          <li>
              <a href="#" class="nav-button" link="blog"><div class="header-content">Blog</div></a>
          </li>
          <li>
              <a href="#" class="nav-button" link="about"><div class="header-content">About</div></a>
          </li>
      </ul>
    </div>
    <div id="nav-img"><img src="assets/logo.png"></div>
  </div>
  