<!-- <svg class="gallery" viewBox="0 0 30 20" width="100vw" height="100vh">
  <defs>
    <clipPath id="shard1">
      <path d="M0 4 V0 H15 V10 H12 Z"/>
    </clipPath>
  </defs>
  <defs>
    <clipPath id="shard2">
      <path d="M0 4 L12 10 L0 20 Z"/>
    </clipPath>
  </defs>
  <defs>
    <clipPath id="shard3">
      <path d="M0 20 L12 10 H18 L30 20 Z"/>
    </clipPath>
  </defs>
  <defs>
    <clipPath id="shard4">
      <path d="M30 4 L18 10 L30 20 Z"/>
    </clipPath>
  </defs>
  <defs>
    <clipPath id="shard5">
      <path d="M30 4 V0 H15 V10 H18 Z"/>
    </clipPath>
  </defs>
  <defs>
    <clipPath id="grid1">
      <path d="M0 0 H15 V8 H0 Z"/>
    </clipPath>
  </defs>
  <defs>
    <clipPath id="grid2">
      <path d="M0 8 H8 V20 H0 Z"/>
    </clipPath>
  </defs>
  <defs>
    <clipPath id="grid3">
      <path d="M8 8 H22 V20 H8 Z"/>
    </clipPath>
  </defs>
  <defs>
    <clipPath id="grid4">
      <path d="M30 8 H22 V20 H30 Z"/>
    </clipPath>
  </defs>
  <defs>
    <clipPath id="grid5">
      <path d="M30 0 H15 V8 H30 Z"/>
    </clipPath>
  </defs>
  <image height="100%" xlink:href="https://lh6.googleusercontent.com/Ys2gF3dDTqHUXUDM4IMkYh6Pq0p3E0Ta5f6yg-eRAA5eMjn3oHagbnVDeB0DzeCzBuXLcFN13c7rwHWkdOnN=w1920-h938-rw" clip-path="url(#grid1)" />
  <image height="100%" xlink:href="https://media.mnn.com/assets/images/2017/01/hot-flowing-lava.jpg.1000x0_q80_crop-smart.jpg" clip-path="url(#grid2)" />
  <image height="100%" xlink:href="https://i.ytimg.com/vi/RcTNoTL3nig/maxresdefault.jpg" clip-path="url(#grid3)" />
  <image height="100%" xlink:href="https://lh6.googleusercontent.com/Ys2gF3dDTqHUXUDM4IMkYh6Pq0p3E0Ta5f6yg-eRAA5eMjn3oHagbnVDeB0DzeCzBuXLcFN13c7rwHWkdOnN=w1920-h938-rw" clip-path="url(#grid4)" />
  <image height="100%" xlink:href="https://media.mnn.com/assets/images/2017/01/hot-flowing-lava.jpg.1000x0_q80_crop-smart.jpg" clip-path="url(#grid5)" />
  <rect x="0" y="0" width="30" height="20" stroke-width="0" fill="#4B3C95" fill-opacity="0"/>
</svg> -->

<div id="background-gallery" class="gallery">
  <div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
  <div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </div>
</div>

<!-- <svg id="jelly" viewBox="0 0 100 200" width="1000px" height="1400px" preserveAspectRatio="none">
  <rect x="0" y="30" width="100" height="60" rx="5" ry="5" stroke-width="0" fill="#7E70C8"/>
  <path id="svg_41" d="m30,0 c20,20 -10,40 -10,40 c0,0 60,0 60,0 c0,0 -30,-20 -10,-40z" stroke-width="2" stroke="#7E70C8" fill="#6554BE"/>
  <rect x="2.5" y="32.5" width="95" height="55" rx="5" ry="5" stroke-width="0" fill="#6554BE"/>
</svg>
  -->

<svg id="blobs" viewBox="0 0 10 1" class="gallery" width="100%" height="10%" preserveAspectRatio="none">
  <path d="M0 0
    A 0.5 0.5 0 0 0 1 0
    A 0.5 0.5 0 0 0 2 0
    A 0.5 0.5 0 0 0 3 0
    A 0.5 0.5 0 0 0 4 0
    A 0.5 0.5 0 0 0 5 0
    A 0.5 0.5 0 0 0 6 0
    A 0.5 0.5 0 0 0 7 0
    A 0.5 0.5 0 0 0 8 0
    A 0.5 0.5 0 0 0 9 0
    A 0.5 0.5 0 0 0 10 0
    Z" stroke-width="0.2" stroke="#4B3C95" fill="#4B3C95"/>
</svg>



